.container {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: minmax(350px, Auto) minmax(500px, Auto);
  grid-template-areas:
    "info summary"
    "skills history"
  ;
  
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8102E;
  }
  
ul.nav li {
    float: left;
  }
  
ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
ul.nav li a:hover {
    background-color: #00B2A9;
  }

  ul.icon {
    list-style-type: none;
  }
  
  ul.icon li {
   
  }
   
#resume-name {
      text-align: left;
      font-family: 'Bebas Neue', sans-serif;
      color: #00B2A9;
      font-size: 2em;
      padding: 20px 0 0 20px;
  }
  
.resume-top-left {
      display: grid;
      grid-template-rows: 35% 65%;
      background: #eee;
  }

  .contact-info {
    /* margin-left: 10px; */
    padding-left: 20px;
    line-height: 30px;
  }

  .resume-top-right {
    display: grid;
    grid-template-rows: 40% 60%;
    background: #ddd;
  }

  .resume-bottom-left {
    background: #ccc;
  }

  .resume-bottom-right {
    background: #bbbbbb;
  }

  .resume-section-title {
    margin: 20px 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
  }

  @media (max-width: 768px) {
    

    .resume-top-left {
      background: green;
    }
  }