body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 46px 300px 1000px;
  grid-template-areas:
    "nav nav"
    "info summary"
    "skills history"
  ;
}

ul {
    grid-area: nav;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8102E;
  }
  
ul li {
    float: left;
  }
  
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
ul li a:hover {
    background-color: #00B2A9;
  }
   
.resume-title {
      text-align: left;
      font-family: 'Bebas Neue', sans-serif;
      color: #00B2A9;
      font-size: 40px;
      padding: 20px 0 0 20px;
  }
  
.resume-top-left {
      grid-area: "summary";
  }

  .resume-top-right {
    grid-area: "info";
  }