.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "info summary"
    "skills history"
  ;
  grid-auto-rows: minmax(1fr Auto);
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8102E;
  }
  
ul li {
    float: left;
  }
  
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
ul li a:hover {
    background-color: #00B2A9;
  }
   
#resume-name {
      text-align: left;
      font-family: 'Bebas Neue', sans-serif;
      color: #00B2A9;
      font-size: 2em;
      padding: 20px 0 0 20px;
  }
  
.resume-top-left {
      display: grid;
      grid-template-rows: 50% 50%;
      background: #eee;
  }

  .resume-top-right {
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .resume-section-title {
    margin: 20px 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
  }

  @media (max-width: 768px) {
    .resume-top-left {
      background: green;
    }
  }