body {
    border: 1px solid black;
    display: inline-block;
    padding: 0px 0px 100px 0px;
}

.story-box {
    width: 60%;
    border: 1px solid purple;
    display: inline-block;
}

.story-image {
    width: 100;
    display: inline-block;
}

.story-image img {
    width: 100%;
}

.top-stories-bar {
    border: 1px solid green;
    height: 400px;
    width: 20%;
    display: inline-block;
    float: right;
}
.story-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

@media (max-width: 992px) {
    
    .top-stories-bar {
        display: none;
    }

    .story-box {
        width: 80%;
    }
    .story-image {
        width: 100%;
    }

    
}

@media (max-width: 576px) {

    .top-stories-bar {
        display: none;
    }

    .story-box {
        width: 100%;
    }

    .story-image {
        width: 100%;
    }

}