body {
    border: 1px solid black;
    display: inline-block;
    padding: 0px 0px 100px 0px;
}

.story-box {
    width: 65%;
    border: 1px solid purple;
    display: inline-block;
    padding: 0 0 10px 0;
}

.story-image {
    width: 100;
    display: inline-block;
}

.story-image img {
    width: 100%;
}

.top-stories-bar {
    height: 400px;
    width: 20%;
    float: right;
    margin: 5px 0 0 0;
}

.top-stories-bar h1 {
    font-weight: bold;
    padding: 5px 0 0 5px;
}

.top-stories-bar hr {
    border: .5px solid black;
    width: 50%;
    text-align: left;
    margin-left: 0px;
}

#title-line {
    border: 1px solid black;
    width: 100%;
}

.top-stories-bar p {
    padding: 5px 0 0 5px;
    line-height: 30px;
}

.story-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    padding: 0 10px 0 10px;
}

.story-blurb {
    font-family: 'Open Sans', sans-serif;
    opacity: 70%;
    padding: 0 10px 0 10px;
}

.story-tag-box {
    margin: 0 10px 0 10px;
    border: 1px solid gray;
    width: min-content;
    background-color: gray;
    text-align: center;
    padding: 3px 3px 3px 3px;
}

@media (max-width: 992px) {
    
    .top-stories-bar {
        display: none;
    }

    .story-box {
        width: 80%;
    }
    .story-image {
        width: 100%;
    }

    
}

@media (max-width: 576px) {

    .top-stories-bar {
        display: none;
    }

    .story-box {
        width: 100%;
    }

    .story-image {
        width: 100%;
    }

}