.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}

nav a p {
  font-family: 'Raleway';
  color: #b16ac9;
}

a {
  text-decoration: none;
}

.button-container {
  height: calc(100% - 368px);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 1;
}

button {
  padding: .8125rem 2rem;
  border: 0;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  color: #fff;
  background-color: #b16ac9;
  box-shadow: 0 3px 0 0 #863c9f;
  text-decoration: none;
  opacity: 0.8;
  transition: .25s;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.about-block {
  width: 100%;
  box-sizing: border-box;
  height: 500px;
}

.shell {
  box-sizing: border-box;
  padding: 40px 20% 0;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Roboto';
  padding-bottom: 60px;
}

h2 {
  font-size: 2em;
  font-family: 'Raleway';
  padding-bottom: 40px;
  color: #aaaaaa;
}

li {
  list-style-type: none;
  font-size: 1em;
}

.about-things {
  height: 750px;
}

strong {
  font-weight: bold;
}

.slidingHorizontal{
  display: inline;
  text-indent: 8px;
}

.slidingHorizontal span{
  animation: leftToRight 12.5s linear infinite 0s;
  -ms-animation: leftToRight 12.5s linear infinite 0s;
  -webkit-animation: leftToRight 12.5s linear infinite 0s;
  color: #b16ac9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.slidingHorizontal span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.slidingHorizontal span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.slidingHorizontal span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

.slidingHorizontal span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*leftToRight Animation*/
@-moz-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateX(-50px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateX(-50px); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateX(-50px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.aboutmepic {
  height: 100%;
  width: 100%;
  float: right;
  background-image: url("../images/360-overlook.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer {
  min-height: 250px;
  width: 100%;
  box-sizing: border-box;
  background-color: #b16ac9;
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
}

.footer-column {
  box-sizing: border-box;
  text-align: center;
  padding: 20px 10px 0 10px;
}

.footer-header {
  color: white;
  font-family: 'Roboto';
}

hr {
  text-align: center;
  margin: 2px 10px 4px 10px;
  color: white;
}

@media (max-width: 768px) {
  .shell {
    box-sizing: border-box;
    padding: 40px 5% 0;
    height: 100%;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Roboto';
    padding-bottom: 80px;
  }

  h2 {
    font-size: 1.5em;
    font-family: 'Raleway';
    padding-bottom: 40px;
    color: #aaaaaa;
  }

  nav {
    box-sizing: border-box;
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }

}
